# UK Health Officials Fear 43,000 Received False Negative COVID-19 Test Results

A private laboratory has been suspended from processing swabs after the false negatives.

---
category: WORLD NEWS
authors: JILL LAWLESS, AP
date: 2021-10-16
link: https://www.huffpost.com/entry/false-covid-19-test-results-uk_n_616aad30e4b01f6f7e49be06
---
